@import "/src/app/modules/styles/mixings";
@import "/src/app/modules/styles/variables";

//Example from container that comes from top
.followers-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 200%;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}
.child-div {
  min-width: 33rem;
  width: 40%;
  height: 30rem;
  background-color: white;
  border-radius: $standardBorderRadius;

  .child-div-head {
    @include popUpHeader;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    span {
      margin: 0.5rem;
    }
  }

  .child-div-body {
    overflow-y: scroll;
    height: 80%;
    .pi-ban {
      font-size: 5rem;
    }
    .no-found {
      font-size: 1.4rem;
      padding-top: 1.6rem;
    }
  }
}

::ng-deep {
  .follower-data {
    margin: 1.5rem;
    font-weight: 500;

    .p-avatar {
      width: 4rem !important;
      height: 4rem !important;
    }
    .username-span {
      margin-left: 1rem;
    }
  }
}

.followers-dialog-unvealed {
  bottom: 0%;
}

.close-button {
  @include closeButton;
  z-index: 10;
}

.fullscreen-div {
  @include fullScreenDiv;
  z-index: 0;
}
