@import "/src/app/modules/styles/mixings";
@import "/src/app/modules/styles/variables";

//Example from container that comes from top
.followers-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 200%;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-div {
  min-width: 33rem;
  width: 40%;
  min-height: 33rem;
  background-color: white;
  border-radius: $standardBorderRadius;
}

.followers-dialog-unvealed {
  bottom: 0%;
}

.close-button {
  @include closeButton;
}

.fullscreen-div {
  @include fullScreenDiv;
  z-index: 0;
}
