<section
  class="flex flex-column align-items-center justify-content-center h-screen"
>
  <img class="w-10rem pb-6" src="assets/img/instagram.png" />
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="flex flex-column align-items-center">
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'username'"
        [inputId]="'username'"
        [label]="'Username'"
        [inputType]="'text'"
      ></app-text-input>
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'password'"
        [inputId]="'password'"
        [label]="'Password'"
        [inputType]="'text'"
      ></app-text-input>
      <p-button
        type="submit"
        class="submit-button m-3"
        label="Log In"
        [raised]="true"
        [disabled]="!formGroup.valid"
        severity="secondary"
      ></p-button>
    </div>
  </form>
  <p-button
    type="submit"
    class="submit-button m-3"
    label="Try fetch data"
    [raised]="true"
    severity="secondary"
    (click)="fetchUserData('13')"
  ></p-button>

  <!-- <app-pop-up-message
    *ngIf="showErrorMessage"
    [messages]="errorMessage"
  ></app-pop-up-message> -->
  <app-toast-message></app-toast-message>
</section>
