section {
  padding-bottom: 2rem;
}

//Change PrimeNg Styles
::ng-deep .login-form {
  .p-button {
    width: 16rem;
  }
}

@media (max-width: 500px) {
  ::ng-deep .p-message-wrapper {
    width: 16rem;
  }
}
