<section
  class="flex flex-column align-items-center justify-content-center h-screen"
>
  <img class="w-10rem pb-6" src="assets/img/instagram.png" />
  <form class="login-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="flex flex-column align-items-center">
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'username'"
        [inputId]="'username'"
        [label]="'Username'"
        [inputType]="'text'"
      ></app-text-input>
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'password'"
        [inputId]="'password'"
        [label]="'Password'"
        [inputType]="'text'"
      ></app-text-input>
      <p-button
        type="submit"
        class="submit-button m-3"
        label="Log In"
        [raised]="true"
        [disabled]="!formGroup.valid"
        severity="secondary"
      ></p-button>
      <a
        class="text-gray-500 no-underline text-align-center hover:underline text-center m-5"
        (click)="this.router.navigate(['/auth/register'])"
      >
        Don't Have An Account? Register Here!
      </a>
    </div>
  </form>

  <app-toast-message></app-toast-message>
</section>
