<section
  class="flex flex-column align-items-center justify-content-center h-screen"
>
  <img class="w-14rem pb-4" src="assets/img/Instagram_title.png" />
  <span class="text-gray-500 text-lg register-text-spacing"
    >Sign up to see photos and videos of your friends.</span
  >
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="flex flex-column align-items-center">
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'username'"
        [inputId]="'username'"
        [label]="'Username'"
        [inputType]="'text'"
      ></app-text-input>
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'email'"
        [inputId]="'email'"
        [label]="'Email'"
        [inputType]="'text'"
      ></app-text-input>
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'password'"
        [inputId]="'password'"
        [label]="'Password'"
        [inputType]="'password'"
      ></app-text-input>
      <app-text-input
        class="m-3"
        [formGroupParent]="formGroup"
        [controlName]="'confirmPassword'"
        [inputId]="'confirmPassword'"
        [label]="'Confirm Password'"
        [inputType]="'password'"
      ></app-text-input>
      <p-button
        type="submit"
        class="submit-button m-3"
        label="Register"
        [raised]="true"
        [disabled]="!formGroup.valid"
        severity="secondary"
      ></p-button>
    </div>
  </form>
  <app-pop-up-message
    *ngIf="userInvalidMessage.state"
    [messages]="userInvalidMessage.messageObject"
  ></app-pop-up-message>
  <app-pop-up-message
    *ngIf="emailInvalidMessage.state"
    [messages]="emailInvalidMessage.messageObject"
  ></app-pop-up-message>
  <!--Empty Div with the method checkPasswordMatches To execute the method and update the ui every time user takes input-->
  <div *ngIf="checkPasswordMatches()"></div>
  <pre>
    {{ formGroup.value | json }}
    {{ formGroup.valid | json }}
  </pre>
</section>
