<section class="main-container">
  <p-progressSpinner
    *ngIf="
      !this.loadedStates.userDataLoad ||
        !this.loadedStates.userPostsLoad ||
        !this.loadedStates.userFollowersLoad;
      else profileContent
    "
  ></p-progressSpinner>
  <ng-template #profileContent>
    <section class="top-container">
      <div class="user-basic-data">
        <app-user-profile-image
          (click)="
            this.openDialog(
              this.dialogsService.editUserImageConstants.containerClass,
              this.dialogsService.editUserImageConstants.newClass,
              'editUserImageDialog'
            )
          "
          [userImage]="
            this.userData.image && this.userData.imageDecoded
              ? this.userData.imageDecoded
              : 'assets/img/user.png'
          "
        ></app-user-profile-image>
        <div class="profile-options">
          <span class="user-name"> {{ this.userData.username }}</span>
          <p-button label="Edit Profile"></p-button>
          <!-- TODO: In future add History -->
          <!-- <p-button label="Edit Profile"></p-button> -->
          <p-button icon="pi pi-cog"></p-button>
        </div>
      </div>
      <div class="user-followers">
        <span>{{ this.userPosts.length }} posts</span>
        <span
          class="user-followers-option"
          (click)="
            this.openDialog(
              this.dialogsService.followerDialogConstants.containerClass,
              this.dialogsService.followerDialogConstants.newClass,
              'followersDialog'
            )
          "
          >{{ this.userFollowers.followers }} followers</span
        >
        <span
          class="user-followers-option"
          (click)="
            this.openDialog(
              this.dialogsService.followerDialogConstants.containerClass,
              this.dialogsService.followerDialogConstants.newClass,
              'followedsDialog'
            )
          "
          >{{ this.userFollowers.followeds }} followeds</span
        >
      </div>
    </section>
    <section class="user-posts">
      <div class="posts-container">
        <app-user-post
          *ngFor="let post of userPosts"
          [postData]="post"
        ></app-user-post>
      </div>
    </section>
  </ng-template>
</section>
<!-- Dialogs that Pop Up When Clicked -->
<app-followers-dialog [userData]="this.userData"></app-followers-dialog>
<app-edit-user-image [userData]="this.userData"></app-edit-user-image>
