<section class="main-container">
  <p-progressSpinner
    *ngIf="
      !this.loadedStates.userDataLoad ||
        !this.loadedStates.userPostsLoad ||
        !this.loadedStates.userFollowersLoad;
      else profileContent
    "
  ></p-progressSpinner>
  <ng-template #profileContent>
    <section class="top-container">
      <div class="user-basic-data">
        <app-user-profile-image
          [userImage]="this.userData.imageDecoded ?? 'assets/img/user.png'"
        ></app-user-profile-image>
        <div class="profile-options">
          <span class="user-name"> {{ this.userData.username }}</span>
          <p-button label="Edit Profile"></p-button>
          <!-- TODO: In future add History -->
          <!-- <p-button label="Edit Profile"></p-button> -->
          <p-button icon="pi pi-cog"></p-button>
        </div>
      </div>
      <div class="user-followers">
        <span>{{ this.userPosts.length }} posts</span>
        <span>{{ this.userFollowers.followers }} followers</span>
        <span>{{ this.userFollowers.followeds }} followeds</span>
      </div>
    </section>
    <section class="user-posts">
      <div class="posts-container">
        <app-user-post
          *ngFor="let post of userPosts"
          [postData]="post"
        ></app-user-post>
      </div>
    </section>
  </ng-template>
</section>
