@import "/src//app/modules/styles/variables";

.post-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  // background-color: red;
  img {
    width: 100%;
    height: 100%;
  }
}

.img-container {
  width: 63%;
  height: 100%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //TODO:Fix this in dialog
  position: absolute;
  top: 0rem;
}

.close-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.fullscreen-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

::ng-deep .post-template {
  display: flex;
  width: 80%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  //Styles for image covering and overflow the container because not all images have correcto proportions
  .post-principal-image {
    width: 62%;
    object-fit: cover;
    height: 100%;
    //TODO: Add color to Variable
    border-right: 1.7px solid $separator;
  }

  .post-data-container {
    width: 100%;
    .post-data-head {
      display: flex;
      border-bottom: 1.7px solid $separator;
    }
  }

  .post-user-image {
    margin: 1.5rem;

    .p-avatar {
      width: 4rem !important;
      height: 4rem !important;
    }
  }

  .username-span {
    font-weight: 500;
  }

  .comment-text {
    margin-top: 9px;
  }
}
