<section *ngIf="this.userData" class="dashboard-container">
  <app-options-menu
    *ngIf="this.userData"
    (showCreatePost)="showNewPostModal()"
    class="menu"
    [userId]="userData.id"
  ></app-options-menu>

  <div class="router-content">
    <router-outlet></router-outlet>
    <app-new-post
      *ngIf="showNewPostDialog"
      (closeCreatePost)="this.showNewPostDialog = false"
      class="create-post-dialog"
    ></app-new-post>
  </div>
  <app-toast-message></app-toast-message>
</section>
