.dashboard-container {
  display: flex;
  width: 100% !important;
  flex-direction: row;

  .menu {
    width: 15rem;
  }
  .router-content {
    width: 100% !important;
    min-height: 100vh !important;
  }
}
