@import "/src/app/modules/styles/variables";

.menu-bar {
  position: fixed;

  height: 100%;
  padding: 1.8rem;
  border-right: 1.7px solid $separator;
  .menu-item {
    display: flex;
    align-items: flex-end;
    margin: 0.6rem 0.6rem 0.6rem 0rem;
    padding: 0.6rem;
    border-radius: 10px;
    cursor: pointer;
    //   border: 1px solid black;
  }

  .menu-item:hover {
    width: 100%;
    background-color: $menuOptionHover;
  }

  .option-icon {
    font-size: 1.1rem;
  }

  .option-font {
    font-size: 0.84rem;
    padding-left: 10px;
  }
}
