@import "/src/app/modules/styles/variables";
@import "/src/app/modules/styles/mixings";

.fullscreen-div {
  @include fullScreenDiv;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// Loading Spinner Styles in create new post
::ng-deep .new-post-template {
  .create-post-progress .p-progress-spinner {
    width: 12rem !important;
    height: 12rem !important;
  }
}

.close-button {
  @include closeButton;
}

.pi-image {
  font-size: 8rem;
  margin-bottom: 3rem;
}
::ng-deep .new-post-form {
  width: 81%;
  height: 72%;
  background-color: white;
  border-radius: 20px;
  max-width: 73rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .span-title {
    padding: 1.4rem;
    width: 100%;
    border-bottom: 1.7px solid $separator;
    font-size: 20px;
    text-align: center;
  }

  .second-step-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .form-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .image-preview {
    width: 62%;
    object-fit: cover;
    height: 100%;
    border-right: 1.7px solid #d5cfcf;
    border-bottom: 1.7px solid #d5cfcf;
  }
  .post-data-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .post-data-head {
      display: flex;
      border-bottom: 1.7px solid $separator;
    }

    .post-user-image {
      margin: 1.5rem;

      .p-avatar {
        width: 4rem !important;
        height: 4rem !important;
      }
    }
    .new-post-textarea {
      width: 100%;
      resize: none;
      border: none;
      min-height: 11rem;
      font-family: "Inter var", sans-serif;
      font-size: 15px;
      &:focus {
        outline: none;
      }
    }

    .username-span {
      font-weight: 500;
    }

    .comment-text {
      margin-top: 9px;
    }
  }
}
